main {
  text-align: center;
  margin-top: 50px;
}

.emoji {
  display: inline-block;
  font-size: 3em;
  padding: 0 .9em;
}

span {
  font-size: 4em;
  animation: 2s anim infinite alternate;
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

@keyframes anim {
  0% {
    color: black;
    transform: rotate(0deg);
  }
  20%{ color: blue; }
  40%{ color: green;}
  60%{ color: orange;}
  100% {
    color: red;
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 400px) {
  .emoji {
    display: block;
  }
  span{
    font-size: 1.5em;
  }
}

@media screen and (min-width: 400px) and (max-width: 1000px) {
  .emoji {
    display: block;
  }
  span{
    font-size: 2em;
  }
}

@media screen and (min-width: 1000px) {
  span{
    font-size: 4em;
  }
}
